
* {
    box-sizing: border-box;
    --icon-color: #6c6a66;
}

.library-song {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.song-description {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.library-song .song-description img {
    border-radius: 30%;
    height: 66%;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.library-song:hover {
    background: rgba(0, 0, 0, 0.1);
}

.song-type-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 2px solid var(--icon-color);
    border-radius: 50%;
    margin: 0 10px;
}

.icon-DF {
    font-size: 15px;
    color: var(--icon-color);
    line-height: 1;
    margin-left: 1.5px;
}

.icon-I {
    font-size: 15px;
    color: #6c6a66;
    line-height: 1;
    margin-left: 0;
}


.checkbox-container {
    width: 28px;
    height: 28px;
    margin-right: 16.5px;
}

.checkbox {
    width: 28px;
    height: 28px;
    margin-right: 16.5px;
    cursor: pointer;
}
